<!DOCTYPE html>
<html lang="en">
<head>
    <title>Write Out</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
     <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<style>
body
{
    background-image: url("http://getwallpapers.com/wallpaper/full/9/4/4/860995-coolest-desktop-backgrounds-1920x1080-for-lockscreen.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.centerDiv
	{
		width: 60%;
		height:200px;
		margin: 0 auto;
		background-color:#FFA500 ;
	}

</style>

<body>

    {% block content %}
    
    {% endblock %}



</body>
</html>